.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    border:1px solid var(--color-light);
    padding: 10px;
    margin: 20px 10px 0 10px;
}

.card:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
    border-left: 3px solid var(--color-secondary);
    transition: ease-in .2s;
}

.card-controller {
    width: 100%;
    align-self: center;
    padding: 10px;
    margin: 20px 10px 0 10px;
}

.card-body img{
    width: 150px;
}

.span-name {
    text-align: center;
}

.span-price {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.controlers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid var(--color-secondary);
    box-sizing: border-box;
}

.controlers i{
    color:var(--color-secondary) ;
}

.controlers input[type='text'] {
    border: none;
    outline: none;
    color: var(--color-dark);
    width: 100px;
    text-align: center;
}

.buttons button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    color:var(--color-white);
    line-height: 1.2rem;
    cursor: pointer;
}

.btn-cart {
    background-color: var(--color-primary);
}

.btn-favorite {
    background-color: var(--color-secondary);
}

