.product-table {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    color: var(--color-dark);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}
.product-image {
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.product-image img{
    width: 100px;
}
.product-table span {
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
    align-self: center;
}
.btn-delete {
    border: none;
    outline: none;
    color: var(--color-dark);
    padding: 1rem;
    font-size: 20px;
    cursor: pointer;
}