.resume-items {
    height: 180px;
    overflow: auto;
    border-radius: .25rem;
}

.card-item {
    width: 100%;
    border:1px solid var(--color-light);
    padding: .5rem;
    margin: .5rem auto ;
}

.resume-item-title, .resume-item-price {
    font-size: 0.8rem;
    font-family: Siro-SemiBold;
}

.resume-item-title {
    width: 80%;
}

.img-sucess {
    width: 300px;
    margin-bottom: 1rem;
}

.color-primary {
    color: var(--color-primary);
    font-family: Siro-SemiBold
}