
.nav-header {
    background-color:var(--color-primary);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 0 2rem;
}

.nav-icon {
    font-size: 1.5rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-white);
}

.nav-icon:hover {
    color: var(--color-white);
}

.siderbar-nav {
    background-color:var(--color-light);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    transition: 350ms;
    z-index: 10;
}

.hide {
    left: -100%;
}

.siderbar-wrap {
    width: 100% ;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 150px;
}

.container-btns {
    height: 90vh;
    width: 200px;
    margin: auto
}