.container-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.container-slider .slider-items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carousel 20s infinite alternate linear;
    text-align: center;
}

@keyframes carousel {
    from {
        transform: translate 0, 0;
   }
    to {
        transform: translate(calc(-100% + (2*450px)));
   }
}
@media screen and (min-width: 980px) {
    .container-slider .slider-items {
        animation: carousel 40s infinite alternate linear;
   }
    @keyframes carousel {
        from {
            transform: translate 0, 0;
       }
        to {
            transform: translate(calc(-100% + (5*300px)));
       }
   }
}