.btn-register-social {
    width: 49%;
    background-color: var(--color-light);
    margin: 5px 5px 5px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: .25rem;
    color: var(--color-dark);
    cursor: pointer;
}

.btn-submit {
    width: 99%;
    margin: 10px 0 0 0;
    background-color: var(--color-primary);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: .25rem;
    color: var(--color-white);
    cursor: pointer;
}

.error-label {
    border: 2px solid var(--color-red);
    color: var(--color-red);
}

.error-feed {
    font-size: 0.8rem;
    margin-left: .3rem;
    color: var(--color-red);
    font-family: Siro-SemiBold;
}
