:root {
  --color-primary: #3940CB;
  --color-secondary: #4C99BB;
  --color-white: #ffffff;
  --color-light: #E2E4ED;
  --color-dark: #413e3e;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-wrap: wrap;
}

.select-link {
  color: var(--color-secondary);
}