:root {
  --color-primary: #3940cb;
  --color-secondary: #4c99bb;
  --color-white: #ffffff;
  --color-light: #e2e4ed;
  --color-dark: #413e3e;
}

.container-all {
  overflow: hidden;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83.8vh;
  flex-wrap: wrap;
}

.select-link {
  color: var(--color-secondary);
}

a, a:hover {
  text-decoration: none;
  color: var(--color-dark);
}

.breadcrumb {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 1rem 0;
  align-self: flex-start;
}

.breadcrumb li {
  margin: 0 1rem;
}

.button-primary {
  margin: 5px 0;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 50px;
  color: var(--color-white);
  line-height: 1.2rem;
  cursor: pointer;
  background-color: var(--color-primary);
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------ESTILOS PERSONALIZADOS DE BOOTSTRAP--------------------*/
.row {
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

.btn-danger, .btn-primary{
  margin: 1rem 0.5rem 0;
}

.btn-primary {
  background-color: var(--color-secondary);
}

svg{
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

/*------------Alerts Bootstrap--------------------*/
.alert {
  width: 50%;
  top: 80px;
  position: absolute;
  right: 0;
}

.modal-content {
  margin-top: 80px;
}

.nav-tabs .nav-link {
  width: 50%;
  text-align: center;
}

.nav-link.active {
  font-weight: 500;
  color: var(--color-primary);
}

form {
  margin-top: 1rem;
  color: var(--color-dark);
}

