.d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    border:1px solid var(--color-light);
    padding: 10px;
    margin: 20px 10px 0 10px;
}
.card-body img{
    width: 150px;
}

.price {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.controlers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid var(--color-secondary);
    box-sizing: border-box;
}

.controlers i{
    color:var(--color-secondary) ;
}

.buttons {
    display: flex;
}

.buttons button {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    color:var(--color-white);
    line-height: 1.2rem;
}

.btn-cart {
    background-color: var(--color-primary);
}

.btn-favorite {
    background-color: var(--color-secondary);
}